$site-title-color: #B0DEDB;
$menu-link-color: #F6C667;
$app-footer-bgcolor: #0f4471;

$article-item-title-color: #313131;

$color-dark-gray: #8a8a8a;
$color-light-gray: #bfbfbf;
$app-wrapper-bgcolor: #fff;
$button-hover-color: #448ef6;
$article-font-color: #666;
$link-font-color: #542189;
$active-font-color: #333;
$blockquote-border-color: #8785A2;
// $blockquote-bg-color: #F7F7F9;
$blockquote-bg-color: #F7F5F1;
// $emphasize-font-color: #B8006C;
$emphasize-font-color: #E76C23;
// $emphasize-bg-color: #F7F7F9;
$emphasize-bg-color: #F8F8F8;
$article-link-color: #00BBF0;
$article-link-active-color: #FF63B5;
$article-title-border-color: #ddd;
$article-title-color: #313131;
$article-strong-text-color: #515151;

$contents-item-active-bgcolor: #dedede;
$post-contents-scroll-indicator-bgcolor: #65c0ba;

$title-font-family: 'MathJax_Main',"PingFangSC","Hiragino Sans GB",STHeiti,"Microsoft YaHei";
$article-font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace,"Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";
$meta-font-family: 'Meta-font',"Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";

$color-admin-dark: hsl(229, 14%, 23%);
$color-dir-bgcolor: hsl(0, 5%, 37%);
$color-dark-dir-bgcolor: #4D4545;
$color-light-dir-bgcolor: #624464;
$color-dir-content: #F0CA6D;
$dir-selected-post-bgcolor: #756C83;
$color-admin-white: #e6e6e6;
$color-admin-blue: hsl(201, 85%, 46%);
$color-dark-blue: hsl(201, 95%, 56%);
$color-admin-tag-background: rgba(163, 222, 131, .5);
$color-dialog-mask: rgba(0, 0, 0, .5);
$color-cancel: #666;
$color-tag-delete: hsl(0, 90%, 60%);

$image-uploader-bgcolor: #F5F8FA;
$upload-instruction-text-color: #bfbfbf;
$uploader-half-transparent-mask: rgba(245, 248, 250, .3);
$upload-finished-color: #0E9577;
$selected-icon-color: #48B884;
$avatar-selected-mask-color: rgba(138, 138, 138, .5);

$post-contents-bgcolor:#f8f8f887;
